.logo{
    width: 25px;
    
}

.header{
 display: flex;
 gap: 100px;
}
.r-icons{
    flex: 1;
    text-align: right;
}
.logoy{
    width: 100px;
}
.color{
    background-color: #FFFFFF;
}
.menu{
    margin: 0px 0px 0px 13px;  
    border-radius: 10px;
    
}
.manu{
    margin: 0px 0px 0px 20px;   
    flex-direction: column-reverse;
}
.monu{
    margin: 0px 0px 0px 20px;  
}
.vid{
    margin: 100px;
    border-radius: 25px;
    display: inline;
    display: flex;
}
.space{
    order: 5; /* default is 0 */
  
}    
.b{
    flex-direction: column-reverse;
}


